<settings>
    <localRepository>/root/.m2/repository</localRepository>
    <proxies>
    </proxies>
    <servers>
        <server>
            <id>repo</id>
            <username>deployment</username>
            <password>duft%01NI</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>deployment</username>
            <password>duft%01NI</password>
        </server>

        <server>
            <id>stages</id>
            <username>deployment</username>
            <password>duft%01NI</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>repo</id>
            <name>Triggle Nexus Public Mirror</name>
            <url>https://nexus.shared.app/repository/maven-public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
        <mirror>
            <id>maven-atlassian-com</id>
            <name>Atlassian Public Repository</name>
            <url>https://packages.atlassian.com/maven-internal/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>repo</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>repo</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>
